.header-all {
  width: 100%;
  height: 100%;
}

.header-three-data {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}


.svg {
  display: block;
  fill: none;
  height: 16px;
  width: 16px;
  stroke: currentColor;
  stroke-width: 4;
  overflow: visible;
}


.header-header {
  position: fixed;
  top: 0px;
  width: 100%;
  min-height: 122px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 556;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header-border {
  border-radius: 50px;
  height: 45px;
  display: flex;
}

.fade-in {
  animation: fadeIn 0.3s ease-in;
}

.slide-in {
  animation: slideIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    height: 10%;
  }

  to {
    opacity: 1;
    height: 100%;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    height: 20%;
  }

  to {
    opacity: 1;
    height: 100%;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}


.home-menu {
  display: block;
  fill: none;
  height: 16px;
  width: 16px;
  stroke: currentColor;
  stroke-width: 3;
  overflow: visible;
}

.home-account {
  display: block;
  height: 30px;
  width: 30px;
  fill: currentColor;
}

.home-border1 {
  display: flex;
  height: 2vw;
  align-self: center;
}

.home-border {
  height: 21px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50px;
  height: 60%;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.search-bar.active {
  background-color: #ebebeb;
}

.search-item {
  padding: 10px 20px;
  border-radius: 50px;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  text-align: center;
  position: relative;
  flex: 1;
}

.search-item:hover {
  background-color: #d9d9d9;
}

.search-item.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.search-item label {
  display: block;
  font-size: 14px;
  color: #454444;
  font-weight: 550;
}

.search-item input {
  border: none;
  outline: none;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #888;
  background: transparent;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff385c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #e31e49;
}


.add-guest-text {
  position: absolute;
  background-color: white;
  /* right: 0.5vmin; */
  right: 0;
  left: 10px;
  top: 100%;
  padding: 10px;
  z-index: 1000;
  margin-top: 12px;
  cursor: default;
  border-radius: 20px;
  min-width: 22vw;
  min-height: 1vh;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.add-guest-all {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* height: 100px; */
  /* width: 40vmin; */
  background-color: white;
}

.guest-button {
  border: none;
  padding: 10px;

}

.all-guest-button {
  display: flex;
  flex-direction: row;
  width: 120px;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 10px;

}

.all-guest-button button {
  background-color: rgb(200, 200, 200);
}

.guest {
  background-color: white;
  font-size: 14px;
  font-weight: bold;
}

.all-guest-button button:hover {
  border: 1px solid rgb(78, 78, 78);
}



.mobile-nav-svg {
  display: block;
  fill: none;
  height: 14px;
  width: 14px;
  stroke: currentcolor;
  stroke-width: 5.33333;
  overflow: visible;
}

.close-btn {
  border-radius: 50%;
  width: 27.6px;
  border: 1px solid #888;
  background-color: #ffff;
  padding: 6px;
}

.close-btn:hover {
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.popup {
  position: absolute;
  top: 0%;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 100vh;
  width: 100%;
}

.popup-content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  row-gap: 8px;
}

.mobile-nav-where {
  display: flex;
  position: relative;
  row-gap: 10px;
  flex-direction: column;
  background-color: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.mobile-nav-where input {
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #777;
}

.mobile-nav-where label {
  font-weight: bold;
  font-size: 22px;
  overflow: hidden;
}

.mobile-show-suggestions{
  position: absolute;
  width: 90%;
  background-color: #ffffff;
  top: 25%;
  padding: 0 20px;
  z-index: 999;
  max-height: 30%;
  border-radius: 10px;
  overflow-y: scroll;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.popup-open {
  overflow: hidden;
  height: 100vh;
}

.mobile-date {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 25px 0px 25px 25px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.mobile-date input {
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
  text-align: center;
  margin-left: auto;
}

.mobile-date label {
  margin-right: auto;
  font-weight: bold;
  overflow: auto;
}

.mobile-guest {
  height: 21px;
  width: 174.4px;
  font-size: 14px;
  text-align: center;
  margin-left: auto;
}

.mobile-add-guest-text {
  position: absolute;
  right: 10px;
  top: 100%;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: #ffffff;
  margin-top: 10px;
}

.mobile-add-guest-all {
  display: flex;
  align-items: center;
}

.mobile-search-svg {
  display: block;
  height: 16px;
  width: 16px;
  fill: currentcolor;
}

.mobile-search-button {
  display: flex;
  align-items: center;
  width: 150px;
  height: 50px;
  justify-content: space-evenly;
  padding: 10px;
  background-color: #ef1a72;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}

.mobile-serach {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 0.72;
}














@media (max-width: 1000px) {

  .search-bar {
    max-width: 900px;
  }

  .add-guest-text {
    width: 300px;
    height: 70px;
    left: -25%;
  }
}

@media (max-width: 850px) {

  .search-bar {
    max-width: 750px;
  }

  .add-guest-text {
    width: 300px;
    height: 70px;
    left: -40%;
  }
}

.mobile-header-all {
  display: none;
}

@media (max-width:750px) {
  .header-none {
    display: none;
  }

  .header-header {
    position: fixed;
    top: 0px;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 556;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  }

  .mobile-header-all {
    display: flex;
    align-items: center;
    min-width: 85%;
    height: 65px;
    padding: 20px;
    background-color: #ffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: none;
  }

  .mobile-all-search {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }

  .mobile-where-search {
    width: 100%;
    text-align: left;
    font-weight: 600;
  }

  .mobile-search {
    border: none;
  }

  .mobile-three-text {
    display: flex;
    column-gap: 7px;
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mobile-three-text>* {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mobile-svg {
    display: block;
    height: 20px;
    width: 20px;
    fill: currentcolor;
    background-color: transparent;
  }
}

.show-suggestions{
  position: absolute;
  top: 90%;
  background-color: #fff;
  width: 25%;
  padding: 20px;
  max-height: 200%;
  overflow-y: scroll;
  border-radius: 10px;
}
.all-suggestions-text{
  cursor: pointer;
  padding: 5px;
}

.all-suggestions-text:hover{
  background-color: #ededed;
  width: 100%;
}























.guest-icon {
  display: block;
  height: 12px;
  width: 12px;
  fill: currentColor;
}