.home-nav {
    background-color: blue;
    color: white;
}

.home-border {
    height: 21px;
}

.home-menu {
    display: block;
    fill: none;
    height: 16px;
    width: 16px;
    stroke: currentColor;
    stroke-width: 3;
    overflow: visible;
}

.home-account {
    display: block;
    height: 100%;
    width: 100%;
    fill: currentColor;
}

.home-img{
    width: 322px;
    height: 307px;
    border-radius: 10px;
}

.home-all{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 140px 0px 0 0px; 
    gap: 30px;
    position: relative;
    padding: 20px;
    z-index: 555;
}

/* .home-container{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 300px;
    border: none;
    background-color: #fff;
    border-radius: 10px;
} */
.home-contain{
    display: flex;
    flex-direction: column;
    /* height: 410px; */
    width: 320px;
    border: none;
    background-color: #fff;
    border-radius: 10px;
    text-align: justify;
}